## Web Scraping sobre venda de Carros Elétricos

In [13]:
# Instalando as Bibliotecas 

!pip install requests
!pip install beautifulsoup4
!pip install lxml

Requirement already satisfied: requests in c:\users\profj\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\profj\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\profj\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\profj\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\profj\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: beautifulsoup4 in c:\users\profj\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\profj\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)
Requirement already satisfied: lxml in c:\users\profj\anaconda3\lib\site-packages (4.9.1)

In [14]:
# Importando as Bibliotecas 

import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [35]:
# Enviando Requisição para o site 

res = requests.get('https://insideevs.uol.com.br/news/631213/caros-eletricos-mais-vendidos-2022/')

# Verificando se a requisição foi bem sucedida

if res.status_code == 200:
    print("A requisição foi bem-sucedida!")

A requisição foi bem-sucedida!

In [68]:
# Realizando o Parser

soup = BeautifulSoup(res.content, 'lxml')

In [69]:
# Extraindo o Conteúdo Desejado

table = soup.find_all('table')[0]

print(table)

<table class="trinity-skip-it" style="border-collapse: collapse; width: 99.3742%;"> <tbody> <tr> <td style="width: 33.3333%;">Posição</td> <td style="width: 33.3333%;">Modelo</td> <td style="width: 33.3333%;">Vendas</td> </tr> <tr> <td style="width: 33.3333%;">1</td> <td style="width: 33.3333%;">Volvo XC40 </td> <td style="width: 33.3333%;">1.770</td> </tr> <tr> <td style="width: 33.3333%;">2</td> <td style="width: 33.3333%;">Caoa Chery iCar</td> <td style="width: 33.3333%;">782</td> </tr> <tr> <td style="width: 33.3333%;">3</td> <td style="width: 33.3333%;">JAC e-JS1</td> <td style="width: 33.3333%;">609</td> </tr> <tr> <td style="width: 33.3333%;">4</td> <td style="width: 33.3333%;">Renault Kwid E-Tech</td> <td style="width: 33.3333%;">594</td> </tr> <tr> <td style="width: 33.3333%;">5</td> <td style="width: 33.3333%;">Volvo C40</td> <td style="width: 33.3333%;">584</td> </tr> <tr> <td style="width: 33.3333%;">6</td> <td style="width: 33.3333%;">Audi e-Tron</td> <td style="width: 33.3333%;">424</td> </tr> <tr> <td style="width: 33.3333%;">7</td> <td style="width: 33.3333%;">Renault Kangoo </td> <td style="width: 33.3333%;">400</td> </tr> <tr> <td style="width: 33.3333%;">8</td> <td style="width: 33.3333%;">Mini Cooper SE</td> <td style="width: 33.3333%;">384</td> </tr> <tr> <td style="width: 33.3333%;">9</td> <td style="width: 33.3333%;">Nissan Leaf</td> <td style="width: 33.3333%;">347</td> </tr> <tr> <td style="width: 33.3333%;">10</td> <td style="width: 33.3333%;">Citroën e-Jumpy</td> <td style="width: 33.3333%;">244</td> </tr> <tr> <td style="width: 33.3333%;">11</td> <td style="width: 33.3333%;">Porsche Taycan</td> <td style="width: 33.3333%;">241</td> </tr> <tr> <td style="width: 33.3333%;">12</td> <td style="width: 33.3333%;">JAC e-JS4</td> <td style="width: 33.3333%;">233</td> </tr> <tr> <td style="width: 33.3333%;">13</td> <td style="width: 33.3333%;">Peugeot e-Expert</td> <td style="width: 33.3333%;">216</td> </tr> <tr> <td style="width: 33.3333%;">14</td> <td style="width: 33.3333%;">BMW iX</td> <td style="width: 33.3333%;">211</td> </tr> <tr> <td style="width: 33.3333%;">15</td> <td style="width: 33.3333%;">Renault Zoe</td> <td style="width: 33.3333%;">203</td> </tr> <tr> <td style="width: 33.3333%;">16</td> <td style="width: 33.3333%;">Fiat 500e</td> <td style="width: 33.3333%;">201</td> </tr> <tr> <td style="width: 33.3333%;">17</td> <td style="width: 33.3333%;">BYD Tan </td> <td style="width: 33.3333%;">176</td> </tr> <tr> <td style="width: 33.3333%;">18</td> <td style="width: 33.3333%;">BMW i3</td> <td style="width: 33.3333%;">157</td> </tr> <tr> <td style="width: 33.3333%;">19</td> <td style="width: 33.3333%;">BMW iX3</td> <td style="width: 33.3333%;">148</td> </tr> <tr> <td style="width: 33.3333%;">20</td> <td style="width: 33.3333%;">Audi e-Tron GT</td> <td style="width: 33.3333%;">50</td> </tr> <tr> <td style="width: 33.3333%;">21</td> <td style="width: 33.3333%;">Peugeot e-2008</td> <td style="width: 33.3333%;">41</td> </tr> <tr> <td style="width: 33.3333%;">22</td> <td style="width: 33.3333%;">BYD eT3</td> <td style="width: 33.3333%;">37</td> </tr> <tr> <td style="width: 33.3333%;">23</td> <td style="width: 33.3333%;">Peugeot e-208</td> <td style="width: 33.3333%;">32</td> </tr> <tr> <td style="width: 33.3333%;">24</td> <td style="width: 33.3333%;">Tesla Model Y</td> <td style="width: 33.3333%;">30</td> </tr> <tr> <td style="width: 33.3333%;">25</td> <td style="width: 33.3333%;">Jaguar I-Pace</td> <td style="width: 33.3333%;">27</td> </tr> <tr> <td style="width: 33.3333%;">26</td> <td style="width: 33.3333%;">Tesla Model S</td> <td style="width: 33.3333%;">25</td> </tr> <tr> <td style="width: 33.3333%;">27</td> <td style="width: 33.3333%;">BMW i4</td> <td style="width: 33.3333%;">23</td> </tr> <tr> <td style="width: 33.3333%;">28</td> <td style="width: 33.3333%;">JAC iEV750</td> <td style="width: 33.3333%;">22</td> </tr> <tr> <td style="width: 33.3333%;">29</td> <td style="width: 33.3333%;">BYD D1</td> <td style="width: 33.3333%;">19</td> </tr> <tr> <td style="width: 33.3333%;"> </td> <td style="width: 33.3333%;">Tesla Model 3</td> <td style="width: 33.3333%;">19</td> </tr> <tr> <td style="width: 33.3333%;">30</td> <td style="width: 33.3333%;">Mercedes EQC300</td> <td style="width: 33.3333%;">17</td> </tr> </tbody> </table>

In [63]:
df = pd.read_html(str(table))[0]

In [64]:
df

          0                    1       2
0   Posição               Modelo  Vendas
1         1           Volvo XC40   1.770
2         2      Caoa Chery iCar     782
3         3            JAC e-JS1     609
4         4  Renault Kwid E-Tech     594
5         5            Volvo C40     584
6         6          Audi e-Tron     424
7         7       Renault Kangoo     400
8         8       Mini Cooper SE     384
9         9          Nissan Leaf     347
10       10      Citroën e-Jumpy     244
11       11       Porsche Taycan     241
12       12            JAC e-JS4     233
13       13     Peugeot e-Expert     216
14       14               BMW iX     211
15       15          Renault Zoe     203
16       16            Fiat 500e     201
17       17              BYD Tan     176
18       18               BMW i3     157
19       19              BMW iX3     148
20       20       Audi e-Tron GT      50
21       21       Peugeot e-2008      41
22       22              BYD eT3      37
23       23        Peugeot e-208      32
24       24        Tesla Model Y      30
25       25        Jaguar I-Pace      27
26       26        Tesla Model S      25
27       27               BMW i4      23
28       28           JAC iEV750      22
29       29               BYD D1      19
30      NaN        Tesla Model 3      19
31       30      Mercedes EQC300      17

In [65]:
# Substituindo o valor ausente 

df.fillna(29, inplace=True)

In [66]:
df

          0                    1       2
0   Posição               Modelo  Vendas
1         1           Volvo XC40   1.770
2         2      Caoa Chery iCar     782
3         3            JAC e-JS1     609
4         4  Renault Kwid E-Tech     594
5         5            Volvo C40     584
6         6          Audi e-Tron     424
7         7       Renault Kangoo     400
8         8       Mini Cooper SE     384
9         9          Nissan Leaf     347
10       10      Citroën e-Jumpy     244
11       11       Porsche Taycan     241
12       12            JAC e-JS4     233
13       13     Peugeot e-Expert     216
14       14               BMW iX     211
15       15          Renault Zoe     203
16       16            Fiat 500e     201
17       17              BYD Tan     176
18       18               BMW i3     157
19       19              BMW iX3     148
20       20       Audi e-Tron GT      50
21       21       Peugeot e-2008      41
22       22              BYD eT3      37
23       23        Peugeot e-208      32
24       24        Tesla Model Y      30
25       25        Jaguar I-Pace      27
26       26        Tesla Model S      25
27       27               BMW i4      23
28       28           JAC iEV750      22
29       29               BYD D1      19
30       29        Tesla Model 3      19
31       30      Mercedes EQC300      17

In [70]:
df.head()

         0                    1       2
0  Posição               Modelo  Vendas
1        1           Volvo XC40   1.770
2        2      Caoa Chery iCar     782
3        3            JAC e-JS1     609
4        4  Renault Kwid E-Tech     594